<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectName</key>
	<string>E6D0F82C-A73D-4D29-AE0E-08047A9030E5</string>
	<key>SDK</key>
	<string>iPhoneOS16.5.sdk</string>
</dict>
</plist>